# Django
*.pyc
__pycache__
myvenv/
db.sqlite3
*.sqlite3
*.pyc

# Local development
.DS_Store
.env

# IDE
.vscode/
.idea/
*.iml

# Logs
logs/
*.log

# Unit test reports
.coverage

# Dependency directories
node_modules/
